@import '../../Styles/Style.scss';

.communityPage {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	gap: 1.5rem 0;
}

.community-hdr {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 21.5rem;
}

.cmt-hdr-banner {
	width: 100%;
	background-color: lightblue;
	height: 15rem;
}

.cmt-hdr-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 6.5rem;
	width: 100%;
	background-color: white;

	.cmt-hdr-if-name {
		display: flex;
		align-items: flex-start;
		padding-top: 0.5rem;
		height: 80%;
		position: relative;
		width: 62.5%;

		.cmt-logo,
		img {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 2rem;
			color: white;
			width: 5rem;
			height: 5rem;
			border-radius: 100%;
			border: 3px solid white;
			background-color: lightcoral;
			position: absolute;
			top: -1rem;
		}

		.cmt-if-title {
			display: flex;
			flex-direction: column;
			gap: 0.4rem 0;
			margin-left: 6rem;

			p {
				font-size: 1.8rem;
				font-weight: bold;
			}

			span {
				font-size: 0.9rem;
				color: #7c7c7c;
			}
		}

		.cmt-if-btn {
			display: flex;
			align-items: center;
			gap: 0 0.5rem;
			margin-left: 1.5rem;

			.cmt-btn-out,
			.cmt-btn-in {
				height: 2rem;
				width: 6rem;
				background-color: transparent;
				outline: none;
				border: 1px solid $customBlue;
				border-radius: 15px;
				font-weight: bold;
				color: $customBlue;
				font-size: 1rem;
				transition: 0.2s ease-in-out;
			}

			.cmt-btn-out {
				&::after {
					content: 'Membro';
				}

				&:hover {
					background-color: #f24033;
					color: white;
					border: none;

					&::after {
						content: none;
					}

					&::before {
						content: 'Sair';
					}
				}
			}

			.cmt-btn-in {
				&:hover {
					background-color: $customBlue;
					color: white;
				}
			}

			div {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 2rem;
				height: 2rem;
				border-radius: 100%;
				border: 1px solid $customBlue;

				svg {
					width: 1.5rem;
					height: 1.5rem;
					color: $customBlue;
				}
			}
		}
	}

	.cmt-hdr-if-ftr {
		display: flex;
		align-items: flex-end;
		gap: 0 0.7rem;
		height: 20%;
		width: 62.5%;

		p {
			font-size: 0.9rem;
			padding: 0.2rem;
			cursor: pointer;
			color: #3c3c3c;
		}
	}
}

.community-main-sct {
	display: flex;
	justify-content: center;

	.cmt-ctr {
		display: flex;
		width: 62.5%;
		justify-content: space-between;

		.cmt-ctr-feed {
			display: flex;
			flex-direction: column;
			width: 39rem;
			gap: 1rem 0;

			.cmt-feed-hdr {
				display: flex;
				flex-direction: column;
				gap: 1rem 0;

				.cmt-feed-create {
					display: flex;
					background-color: white;
					padding: 0 0.5rem;
					height: 3.5rem;
					align-items: center;
					justify-content: space-between;
					border: 1px solid #c1c1c1;
					border-radius: 3px;

					img {
						width: 2.5rem;
						height: 2.5rem;
						border-radius: 100%;
						background-color: #d1d1d1;
					}

					button {
						display: flex;
						align-items: center;
						height: 2.5rem;
						background-color: #f1f1f1;
						color: #7c7c7c;
						width: 80%;
						outline: none;
						border: 1px solid #e1e1e1;
						border-radius: 3px;
						padding-left: 1rem;
						font-size: 0.9rem;
						transition: 0.2s ease-in-out;

						&:hover {
							border: 1px solid $customBlue;
							color: $customBlue;
							background-color: white;
						}
					}

					div {
						display: flex;
						align-items: center;

						div {
							display: flex;
							justify-content: center;
							align-items: center;
							width: 2rem;
							height: 2rem;
							cursor: pointer;
							border-radius: 3px;
							transition: 0.1s ease-in-out;

							svg {
								width: 1.5rem;
								height: 1.5rem;
								color: #a1a1a1;
							}

							&:hover {
								background-color: #e1e1e1;
							}
						}
					}
				}

				.cmt-feed-filter {
					display: flex;
					gap: 0 1rem;
					background-color: white;
					height: 3.5rem;
					align-items: center;
					padding: 0 0.5rem;
					border: 1px solid #c1c1c1;
					border-radius: 3px;

					div {
						display: flex;
						gap: 0 0.4rem;
						align-items: center;
						padding: 0.5rem;
						font-weight: bold;
						color: #7c7c7c;
						border-radius: 15px;
						cursor: pointer;
						transition: 0.2s ease-in-out;
						font-size: 0.95rem;

						svg {
							width: 1.3rem;
							height: 1.3rem;
						}

						&:hover {
							background-color: #e1e1e1;
							color: $customBlue;

							svg {
								color: $customBlue;
							}
						}
					}

					.cmt-feed-time-filter {
						position: relative;
					}

					.time-filter-modal {
						display: flex;
						gap: 0 1.5rem;
						background-color: white;
						position: absolute;
						border: 1px solid #3c3c3c;
						top: 2.5rem;
						border-radius: 0px;

						&:hover {
							background-color: white;
							color: #7c7c7c;
						}

						p {
							&:hover {
								color: $customBlue;
							}
						}
					}
				}
			}

			.cmt-feed {
			}
		}

		.cmt-ctr-info {
			display: flex;
			flex-direction: column;
			width: 19rem;
			gap: 1.5rem 0;

			.cmt-if-desc {
				display: flex;
				flex-direction: column;
				background-color: white;
				padding: 1rem 0.7rem;
				border: 1px solid #c1c1c1;
				border-radius: 3px;

				.cmt-if-dsc-hdr {
					display: flex;
					justify-content: space-between;
					padding-bottom: 0.5rem;

					p {
						font-size: 0.9rem;
						font-weight: bold;
					}

					div {
						display: flex;
						gap: 0 0.2rem;
						align-items: center;

						a {
							font-size: 0.8rem;
						}

						svg {
							height: 0.9rem;
							width: 0.9rem;
						}
					}
				}

				.cmt-if-dsc-main {
					display: flex;
					flex-direction: column;
					gap: 0.8rem 0;
					border-bottom: 1px solid #e1e1e1;
					padding: 1rem 0;

					.dsc-main-bio {
						display: flex;
						flex-direction: column;
						gap: 0.5rem 0;

						svg {
							width: 1.2rem;
							height: 1.2rem;
							place-self: flex-end;
							cursor: pointer;
						}
					}

					.dsc-main-ctd_at {
						display: flex;
						align-items: center;
						gap: 0 0.3rem;
						color: #7c7c7c;
						font-weight: 500;
						font-size: 0.9rem;

						svg {
							width: 1rem;
							height: 1rem;
						}
					}
				}

				.cmt-if-dsc-adt-if {
					display: flex;
					justify-content: space-between;
					border-bottom: 1px solid #e1e1e1;
					align-items: center;
					padding: 1rem 0;

					div {
						display: flex;
						flex-direction: column;
						gap: 0.5rem 0;
						align-items: center;
						width: 4.5rem;

						p {
							font-size: 0.8rem;
							color: #7c7c7c;
						}
					}
				}

				.cmt-if-dsc-add-pst {
					display: flex;
					border-bottom: 1px solid #e1e1e1;
					padding: 1rem 0.5rem;
					justify-content: center;

					button {
						width: 100%;
						height: 2rem;
						border: none;
						outline: none;
						background-color: $customBlue;
						font-weight: bold;
						font-size: 0.9rem;
						border-radius: 15px;
						color: white;
						transition: 0.1s ease-in-out;

						&:hover {
							background-color: #0090d0;
						}
					}
				}

				.cmt-if-dsc-ftr {
					display: flex;
					justify-content: space-between;
					padding: 1rem 0.5rem 0rem 0.5rem;
					align-items: center;

					div {
						display: flex;
						align-items: center;
						gap: 0 0.2rem;

						p {
							font-size: 0.9rem;
						}
					}

					.onOff {
						width: 2rem;
						height: 1.5rem;
						background-color: bisque;
					}
				}
			}

			.cmt-if-flags {
				display: flex;
				flex-direction: column;
				gap: 1rem 0;
				border: 1px solid #c1c1c1;
				background-color: white;
				padding: 1rem 0.7rem;
				border-radius: 3px;

				p {
					font-size: 0.9rem;
					font-weight: bold;
				}

				div {
					display: flex;
					gap: 1rem 0.5rem;
					flex-wrap: wrap;
					cursor: pointer;

					p {
						color: white;
						font-weight: 500;
						padding: 0.5rem;
						border-radius: 15px;
					}
				}
			}

			.cmt-if-rules {
				display: flex;
				flex-direction: column;
				background-color: white;
				padding: 1rem 0.7rem;
				gap: 1rem 0;
				border: 1px solid #c1c1c1;

				p {
					font-size: 0.9rem;
					font-weight: bold;
				}

				.cmt-if-rules-ctr {
					display: flex;
					flex-direction: column;

					.cmt-rules-card {
						display: flex;
						flex-direction: column;
						gap: 0.5rem 0;
						padding: 1rem 0;
						border-bottom: 1px solid #e1e1e1;
						cursor: pointer;

						div {
							display: flex;
							justify-content: space-between;
							gap: 0 0.5rem;
							align-items: center;

							p {
								font-weight: 500;
							}
						}

						span {
							font-weight: initial;
							font-size: 0.9rem;
							transition: 0.2s ease-in-out;
							line-height: 1.2;
						}
					}
				}
			}

			.cmt-if-mods {
				display: flex;
				flex-direction: column;
				background-color: white;
				padding: 1rem 0.7rem;
				gap: 1rem 0;
				border: 1px solid #c1c1c1;

				p {
					font-size: 0.9rem;
					font-weight: bold;
				}

				.cmt-if-mods-ctr {
					display: flex;
					flex-direction: column;

					a {
						padding: 0.5rem 0;
						color: $customBlue;
						font-size: 0.9rem;
					}
				}

				span {
					place-self: flex-end;
					font-size: 0.8rem;
					color: $customBlue;
					cursor: pointer;
				}
			}
		}
	}
}
