@import '../../Styles/Style.scss';

.hdr-ctr {
	display: flex;
	height: 3rem;
	padding: 0 1.5rem;
	align-items: center;
	background-color: white;
	justify-content: space-between;

	.hrd-logo-ctr {
		display: flex;
		align-items: center;
		gap: 0 0.3rem;

		.logo-icon {
		}
		.logo-banner {
			width: 6rem;
			height: 1.5rem;
		}
	}

	.hdr-userList {
		display: flex;
		align-items: center;
		padding: 0 0.5rem;
		width: 15rem;
		justify-content: space-between;
		cursor: pointer;
		height: 2.2rem;
		border-radius: 3px;
		border: 1px solid transparent;

		div {
			display: flex;
			align-items: center;
			gap: 0 0.5rem;

			img {
				width: $iconWidth;
				height: $iconHeight;
				rotate: 360deg;
			}
		}

		img {
			width: 12px;
			height: 12px;
			rotate: 90deg;
		}

		&:hover {
			border: 1px solid #f1f1f1;
		}
	}

	.hdr-search {
		position: relative;
		width: 45rem;
		height: 2.5rem;

		img {
			position: absolute;
			width: $iconWidth;
			height: $iconHeight;
			top: 50%;
			transform: translateY(-50%);
			left: 0.6rem;
			z-index: 1;
		}

		input {
			width: 100%;
			padding-left: 2.5rem;
			border: none;
			height: 100%;
			border-radius: 20px;
			border: 1px solid #f1f2f3;
			background-color: #f6f7f8;

			&:focus {
				border: 1px solid $customBlue;
				background-color: white;
			}
			&:hover {
				border: 1px solid $customBlue;
				background-color: white;
			}
		}
	}

	.hdr-nav {
		display: flex;
		width: 7rem;
		height: 2.5rem;
		align-items: center;
		justify-content: space-between;

		div {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 2rem;
			height: 2rem;
			cursor: pointer;
			transition: ease-in-out 0.1s;

			img {
				width: 1.5rem;
				height: 1.5rem;
			}

			&:hover {
				background-color: #e2e2e2;
				border-radius: 3px;
			}
		}
	}

	.hdr-profile {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 2.5rem;
		width: 14rem;
		padding: 0 0.5rem;
		border: 1px solid transparent;
		cursor: pointer;

		.hdr-profile-pic {
			display: flex;
			gap: 0 0.5rem;
			height: 100%;
			align-items: center;

			div {
				display: flex;
				flex-direction: column;
				height: 100%;
				padding: 0.25rem 0;

				p {
					font-size: 0.8rem;
				}

				div {
					display: flex;
					flex-direction: row;
					align-items: flex-end;
					gap: 0 0.1rem;

					img {
						width: 0.9rem;
						height: 0.9rem;
					}

					p {
						font-size: 0.7rem;
					}
				}
			}

			h1 {
				width: 2rem;
				height: 2rem;
				background-color: bisque;
				border-radius: 50%;
			}
		}

		img {
			width: 0.8rem;
			height: 0.8rem;
		}

		&:hover {
			border: 1px solid #e1e1e1;
			border-radius: 3px;
		}
	}
}
